.about {
  text-align: center;
  margin-top: 90px;
}

.about-head {
  margin-bottom: 0;
}

.about-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 30px;
  flex-wrap: wrap;
}

.s {
  display: block;
  font-size: 15px;
  margin-bottom: 3rem;
}

.about-image {
  width: 300px;
  height: auto;
  max-width: 100%;
  margin-right: 20px;
  margin-top: 45px;
  border-radius: 10px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.about-image:hover {
  box-shadow: 6px 15px 30px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.text-content {
  max-width: 410px;
  margin: 0;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.text-content h5 {
  margin-bottom: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    align-items: center;
  }

  .about-image {
    width: 80%; /* Adjust the width for smaller screens */
    margin: 0 auto 20px auto; /* Center image with margin below */
  }

  .text-content {
    padding: 0 15px; /* Add padding for smaller screens */
    text-align: center; /* Center text on smaller screens */
  }
}

@media (max-width: 480px) {
  .about-image {
    width: 100%; /* Full width for very small screens */
    max-width: 300px; /* Limit max width */
    height: auto;
  }

  .text-content {
    padding: 0 10px; /* Reduce padding for extra-small screens */
  }
}
