/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic header styles */
.header {
  background-color: #f4f4f4;
  width: 100%;
}

/* Center logo and menu */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

/* Logo image */
.logo {
  width: 80px;
  height: auto;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1); /* Increase size by 10% on hover */
}

/* Navbar links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 50px;
}

.nav-links li a {
  color: #000;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 8px 15px; /* Add padding to make the background box larger */
  transition: background-color 0.7s, color 0.5s;
  border-radius: 20px; /* Rounded corners for the box */
}

.nav-links li a:hover {
  background-color: #000; /* Black background on hover */
  color: #fff; /* Change text color to white on hover */
}


/* Responsive adjustments */
@media (max-width: 1024px) {
  .nav-links {
    gap: 40px;
  }

  .navbar {
    padding: 10px 15px;
  }

  .nav-links li a {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .header {
    display: none; /* Hide the header on small screens */
  }
}
