/* Default styling for larger screens */
.projects {
  text-align: center;
  padding: 20px;
}

.projects h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.project {
  flex: 1 1 30%; /* Ensures three items per row on larger screens */
  max-width: 300px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
  transform: scale(1.01);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
}

.project img.project-image {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.project h3 {
  font-size: 1.2em;
  margin: 10px 0;
}

.project p {
  font-size: 1em;
  color: #555;
  line-height: 1.4;
  margin: 0;
  flex-grow: 1;
  margin-bottom: 15px;
}

.tech-stack-container {
  overflow: hidden;
  padding: 4px 0;
}

.tech-stack-wrapper {
  width: 100%;
  overflow: hidden;
  padding: 6px 0;
  position: relative;
  height: 32px;
}

.ticker {
  display: inline-flex;
  white-space: nowrap;
  gap: 10px;
  transform: translateX(0);
}

.ticker.animate {
  animation: scrollTicker 15s linear infinite;
}

@keyframes scrollTicker {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.skill-tag {
  background-color: #f0f0f0;
  padding: 4px 10px;
  border-radius: 16px;
  font-size: 0.85rem;
  color: #333;
  white-space: nowrap;
}


.project a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  margin-top: 7px;
}

/* Styling for the "More Projects" link */
.more-projects {
  margin-top: 20px;
}

.more-projects-link {
  font-size: 1.2rem;
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 8px;
  transition: background-color 0.4s ease, color 0.4s ease;
  display: inline-block;
  position: relative;
}

.more-projects-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  border-radius: 8px;
  transform: scale(0);
  transform-origin: center;
  z-index: -1;
  transition: transform 0.4s ease;
}

.more-projects-link:hover::before {
  transform: scale(1);
}

.more-projects-link:hover {
  color: white;
  text-decoration: none;
}

/* Responsive styling for phone screens */
@media (max-width: 600px) {
  .projects-grid {
    display: flex;
    flex-direction: column; /* Stack projects vertically */
    align-items: center; /* Center the projects */
  }

  .project {
    width: 90%; /* Consistent width for all projects */
    max-width: none; /* Remove max-width constraint */
    margin: 10px 0; /* Space between stacked projects */
  }
}