.App {
  font-family: "Arial", sans-serif;
  color: #333;
  line-height: 1.6;
  margin-inline: 20px;
}

section {
  padding: 40px 20px;
}

h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  text-align: center;
}

/* Responsive typography */
@media (max-width: 768px) {
  h2 {
      font-size: 1.5rem; /* Smaller size on mobile */
  }
}
